# -------------------
# Python
# -------------------
__pycache__/
*.py[cod]
*.so

# Virtual Environments
venv/
.env/
.env.*

# -------------------
# Odoo
# -------------------
*.log
*.pid
filestore/

# -------------------
# IDE
# -------------------
.vscode/
.idea/

# -------------------
# OS
# -------------------
.DS_Store
Thumbs.db

# -------------------
# Docker
# -------------------
*.db
